body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}
h1, h2, h3, h4, h5, h6, a{
    color: #009a81;
}
.inverse{
    background-color: #009a81;
}
.inverse .remark-code, .inverse a > code {
    color: white;
}
.inverse h2 a{
    color: #f3f3f3;
}
.linear-model, .methods{
    background: linear-gradient(90deg, rgb(209, 232, 223) 25%, white 25%);
}
.reference {
    background: linear-gradient(90deg, rgb(209, 232, 223) 35%, white 35%);
}

.methods .right-column h3 {
    color: black;
    line-height: 16px;
    font-size: 165%;
    padding-left: 30px;
}
.methods .left-column h3 {
    color: #343434;
    line-height: 10px;
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
}
.data .pull-left {
    width: 40%;
}
.data .pull-right{
    width: 55%;
}
.data p {
    margin-top: 0;
}

.data .pull-right h2 {
    margin-top: 0;
}

.acknowledgment .pull-left {
    display: flex;
    flex-direction: column;
}
.acknowledgment .pull-left .card {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr;
}
.card-text {
    text-align: left;
    padding-left: 20px;
    line-height: 10px;
    align-self: end;
}
.card-text h2{
    color: #565656;
}
.acknowledgement .pull-left h2:last-of-type, .pull-left h3:last-child {
    color: gray;
}

.remark-slide-content.acknowledgment {
    background: linear-gradient(120deg, rgb(209, 232, 223) 60%, #009a81 60%);
}
.pull-right.biostat-logo {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
.acknowledgment .pull-right.biostat-logo img {
    width: 50%;
    padding-right: 20px;
}

.reference .left-column {
    width: 30%;
}

.reference .right-column {
    width: 65%;
}
.reference .left-column img {
    width: 85%;
}

.reference .left-column p:first-child {
    margin-top: 40px;
}


.remark-slide-content.acknowledgment {
    background: linear-gradient(120deg, rgb(209, 232, 223) 60%, #009a81 60%);
}
.pull-right.biostat-logo {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
.acknowledgment .pull-right.biostat-logo img {
    width: 50%;
    padding-right: 20px;
}

@media print {
    .inverse {
      -webkit-filter: drop-shadow(0 0 20px #333);
      text-shadow: 0 0 20px #333;
    }
    .remark-container.remark-presenter-mode .remark-slide-notes {
    margin-left:700px;
   }
  }
  
